@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-gray-800; /* Light mode text color (dark gray) */
  background: linear-gradient(to top right, #f3f4f6, #e5e7eb); /* Light mode soft gray gradient */
  color: #2f7c1c; /* Light mode text color */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  border: 0 solid;
  font-size: 0.875rem;
  line-height: inherit;
}

.dark body {
  @apply text-white; /* Dark mode text color */
  background: linear-gradient(to top right, #111, #001c15); 
  color: #ffffff; 
}
